@model IEnumerable<OnlineExam.Models.userInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.no_of_exam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.abc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.def)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_of_exam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.abc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.def)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
